{%  extends 'base.twig' %}
{%  block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <h1>Page not found</h1>

    <p>
        Error 403. No puedes acceder a esta página si no estas loggeado. Puedes ir a la página de inicio aquí: <a href="/">pwbox.test</a>.
    </p>

{% endblock %}