<!DOCTYPE html>
<html>
<head>
    <title>Hello page</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
</head>
<body>
    <p>Hello {{ name }} !</p>
    <p>You visited this page {{ counter }} times</p>
</body>

</html>